.collect-detail{
    background: #F7F8FA;
    .header{
        width: 334px;
        height: 104px;
        margin: 80px auto;
        background: url('../../resource/shape-combin.png') no-repeat;
        background-size: 100% 100%;
        font-size: 40px;
        font-weight: 900;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content{
        display: flex;
        flex-direction: column;
        padding: 26px 42px 28px 34px;
        margin: 0 32px;
        background: #FFFFFF;
        border-radius: 20px;
        .title{
            font-size: 34px;
            font-weight: 500;
            color: #000000;
            line-height: 48px;
        }
        .desc, .time{
            text-align: right;
            margin-top: 76px;
            font-size: 24px;
            font-weight: 400;
            color: #4B4D5E;
            line-height: 34px;
        }
        .time{
            margin-top: 8px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .lock-box{
                width: 40px;
                height: 40px;
                .img{
                    width: 100%;
                    height: 100%;
                    margin-right: 8px;
                }
            }
        }
    }
    .list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 100px 32px 0;
        .item{
            display: flex;
            flex-direction: column;
            align-items: center;
            .top{
                font-size: 24px;
                font-weight: 400;
                color: #999999;
            }
            .bottom{
                width: 98px;
                height: 98px;
                margin-top: 24px;
                border: 1px dashed #999999;
                .img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .footer{
        position: fixed;
        bottom: 80px;
        left: 0;
        width: 100%;
        .btn{
            height: 80px;
            width: 686px;
            box-sizing: border-box;
            background: linear-gradient(90deg, #FF7A4A 0%, #FF461C 100%);
            border-radius: 8px;
            font-size: 28px;
            font-weight: 400;
            color: #FFFFFF;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}