@import "~taro-ui-vue/dist/style/index.scss"; // 引入组件样式，仅需引入一次即可
//font css
@import "./scss/icon";
// @import "https://at.alicdn.com/t/font_499044_tm14ow07jti.css";
page{
    background: #F7F8FA;
}

.text-deal{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all; /* 追加这一行代码 */
}